ConditionNode #title {
    background-color: rgba(29, 115, 57, 0.91);
}

DecisionNode #title {
    background-color: rgba(115, 29, 57, 0.91);
}

ConditionNode.entry #title {
    -unity-font-style: bold-and-italic;
    background-color: rgba(30, 155, 57, 0.91);
}

.error #title {
    color: red;
}

.state TextInput, ToolbarMenu {
    min-width: 100px;
}